<div class="jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!visibleButtonIniciarJogo">
        <h3>Olá! Vamos jogar..</h3>
        <hr>
        <div>
            <a class="link-sala" (click)="defineTipoSala('nova')"> <i class="fa fa-plus"></i> Nova sala </a>
            |
            <a class="link-sala" (click)="defineTipoSala('existente')"> <i class="fa fa-sign-in"></i> <span> Sala existente </span> </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="tipoSala === 'nova'">
        <h3>Vamos criar uma nova sala!</h3>
        <hr>
        <input class="form-control input-stop" type="text" [value]="nameJogador" placeholder="Nome do jogador">
        <input class="form-control input-stop" type="number" [value]="numeroParticipantes" placeholder="Número de participantes">
        <input class="form-control input-stop" type="number" [value]="numeroJogadas" placeholder="Número de jogadas">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="tipoSala === 'existente'">
        <h3>Vamos acessar uma sala!</h3>
        <hr>
        <input class="form-control input-stop" type="text" [value]="nameJogador" placeholder="Nome do jogador">
        <input class="form-control input-stop" type="text" [value]="codigoSala" placeholder="Código da sala">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="visibleButtonIniciarJogo">
        <button type="button" class="btn btn-start-game" [routerLink]="['jogo']">Iniciar jogo</button>
    </div>
</div>