<div class="form">
    <div class="row align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 letra-partida-size-circle letra-partida-circle">
            <h1>{{letraPartida}}</h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 coluna-categoria" *ngFor="let categoria of jogo.categorias">
            {{categoria.nome}}
            <hr>
            <div *ngFor="let partida of categoria.partidas">
                <input class="form-control input-stop" [value]="partida.resposta" [readOnly]="partida.finalizada" required>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <button type="button" class="btn btn-stop">STOP</button>
    </div>
</div>

