<app-modal-loading *ngIf="load"></app-modal-loading>

<div class="form">
    <div class="row align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 letra-partida-size-circle letra-partida-circle">
            <h1>{{letterShowing}}</h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 coluna-categoria" *ngFor="let answerCategory of userRoundGame.Answers">
            {{answerCategory.Category}}
            <hr>
            <input class="form-control input-stop" required (blur)="onBlur(answerCategory.Category, $event)">
        </div>
    </div>
    <div class="row align-items-center">
        <button type="button" class="btn btn-stop" (click)="stopPartida()">STOP</button>
    </div>
</div>

