<!-- HEADER -->
<nav class="navbar nav-stop">
    <a class="navbar-brand" [routerLink]="['/']">
        <h2>STOP</h2>
    </a>
</nav>
<!-- COMPONENT -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="footer footer-stop">
    <p style="margin-top:16px; margin-bottom: 2px;">Grupo | Bárbara Adriane Tules de Almeida - Camila dos Santos Carvalho - Iasmin Hahn Oliveira - Michelle Brito Cunha</p>
    <hr style="margin-top: 2px; margin-bottom: 2px">
    <p>Prof. Francisco Assis Moreira Do Nascimento | Sistemas Distribuídos | 2023</p>    
</footer>